body {
  margin: 20px;
  height: 100vh;
  background-image: url(https://th.bing.com/th/id/R.106491746a76a12e95999ed8833a7595?rik=JM4XBriwwqzXtQ&pid=ImgRaw&r=0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  line-height: 5.2;
  padding: 20;
}

.contenedor {
  text-align: center;
}

.carta {
  position: relative;
  width: 400px;
  height: 500px;
  background: #ffcad4;
  border: 2px solid hsl(206, 100%, 80%);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 1s;
}

.carta.abierta {
  transform: rotateX(180deg);
}

.tapa {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #0a92a1, #8fceff);
  border-radius: 10px;
  backface-visibility: hidden;
}

.papel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffbea;
  color: #555;
  border-radius: 10px;
  transform: rotateX(180deg);
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.papel h2 {
  color: #0067dc;
  margin-bottom: 10px;
  animation: brillar 2s infinite alternate;
}

.papel p {
  font-size: 15px;
  line-height: 1.5;
  animation: aparecer 2s ease-in-out;
}

.texto-inferior {
  margin-top: 20px;
  color: #444;
  font-size: 1.1em;
  animation: latido 2s infinite;
}


@keyframes brillar {
  from { text-shadow: 0 0 5px #000000; }
  to { text-shadow: 0 0 20px #d4dddf; }
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes latido {
  0%, 100% { transform: scale(1); color: #ff8fab; }
  50% { transform: scale(1.1); color: #ff2e2e; }
}
