
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-image: url(fondo.png);
  color: #2e2b26;
  text-align: center;
}

header {
  padding: 30px 0;
  background-color: #1b3c53;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2.5em;
  color: #000000;
}

.subtitulo {
  font-style: italic;
  color: #c9c4b9;
}

.galeria {
  margin: 30px auto;
  width: 30%;
  max-width: 300px;
}

.contenedor-slider {
  position: relative;
  overflow: hidden;
  border: 10px solid rgb(0, 66, 76);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
  height: auto;
  border-radius: 5px;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.8);
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.flecha:hover {
  background-color: rgb(2, 21, 54);
  color: rgb(255, 255, 255);
}

.flecha.izquierda {
  left: 10px;
}

.flecha.derecha {
  right: 10px;
}

.miniaturas {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

}

.miniaturas img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border: 4px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.miniaturas img:hover {
  border: 4px solid gold;
  transform: scale(1.05);
}

/*.feliz-cumple {
  margin-top: 60px;
  padding: 20px 20px;
   background: linear-gradient(to bottom, #fff8e7, #f0e4c3);
  border-top: 5px solid rgba(255, 217, 0, 0.701);
  border-bottom: 5px solid gold;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.feliz-cumple h2 {
  font-size: 3em;
  color: #b48a00;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.feliz-cumple p {
  font-size: 1.2em;
  color: #5a4c30;
  font-style: italic;
}
  */


footer {
  margin-top: 1px;
  background :#1b3c53e7;
  padding: 20px;
  font-size: 0.9em;
  color:#bacbd7 ;
}
